# Установить тип окончания строки по умолчанию для всех текстовых файлов на LF
* text=auto eol=lf

# Явно указать, что эти файлы должны иметь LF окончания строк
*.js      eol=lf
*.json    eol=lf
*.html    eol=lf
*.css     eol=lf
*.md      eol=lf
.gitignore eol=lf
netlify.toml eol=lf
# Добавьте другие расширения текстовых файлов, которые вы используете